In [2]:
import pandas as pd
import numpy as np

# EDA

In [6]:
results_df = pd.read_csv('data/Formula1/results.csv')

In [7]:
results_df.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [30]:
races_df = pd.read_csv('data/Formula1/races.csv')
races_df.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [54]:
twentieth = races_df[(races_df['year']>=1990) & (races_df['year'] <2023)]

races_by_year = twentieth.groupby('year')['raceId'].apply(list).reset_index()

races_by_year['num_races'] = races_by_year['raceId'].str.len()

races_by_year

    year                                             raceId  num_races
0   1990  [321, 322, 323, 324, 325, 326, 327, 328, 329, ...         16
1   1991  [305, 306, 307, 308, 309, 310, 311, 312, 313, ...         16
2   1992  [289, 290, 291, 292, 293, 294, 295, 296, 297, ...         16
3   1993  [273, 274, 275, 276, 277, 278, 279, 280, 281, ...         16
4   1994  [257, 258, 259, 260, 261, 262, 263, 264, 265, ...         16
5   1995  [240, 241, 242, 243, 244, 245, 246, 247, 248, ...         17
6   1996  [224, 225, 226, 227, 228, 229, 230, 231, 232, ...         16
7   1997  [207, 208, 209, 210, 211, 212, 213, 214, 215, ...         17
8   1998  [191, 192, 193, 194, 195, 196, 197, 198, 199, ...         16
9   1999  [175, 176, 177, 178, 179, 180, 181, 182, 183, ...         16
10  2000  [158, 159, 160, 161, 162, 163, 164, 165, 166, ...         17
11  2001  [141, 142, 143, 144, 145, 146, 147, 148, 149, ...         17
12  2002  [124, 125, 126, 127, 128, 129, 130, 131, 132, ...         17
13  2003  [108, 109, 110, 111, 112, 113, 114, 115, 116, ...         16
14  2004  [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...         18
15  2005  [71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 8...         19
16  2006  [53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 6...         18
17  2007  [36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 4...         17
18  2008  [18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 2...         18
19  2009  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...         17
20  2010  [337, 338, 339, 340, 341, 342, 343, 344, 345, ...         19
21  2011  [841, 842, 843, 844, 845, 846, 847, 848, 849, ...         19
22  2012  [860, 861, 862, 863, 864, 865, 866, 867, 868, ...         20
23  2013  [880, 881, 882, 883, 884, 885, 886, 887, 888, ...         19
24  2014  [900, 901, 902, 903, 904, 905, 906, 907, 908, ...         19
25  2015  [931, 932, 929, 930, 928, 926, 927, 933, 934, ...         19
26  2016  [948, 949, 950, 951, 952, 953, 954, 955, 956, ...         21
27  2017  [969, 970, 971, 972, 973, 974, 975, 976, 977, ...         20
28  2018  [989, 990, 991, 992, 993, 994, 995, 996, 997, ...         21
29  2019  [1010, 1011, 1012, 1013, 1014, 1015, 1016, 101...         21
30  2020  [1031, 1032, 1033, 1034, 1035, 1036, 1037, 103...         17
31  2021  [1053, 1052, 1051, 1054, 1055, 1056, 1057, 105...         22
32  2022  [1074, 1075, 1076, 1077, 1078, 1079, 1080, 108...         22

In [57]:
#get a list of all the races from 2000-2022
twentieth_races_IDs = races_by_year['raceId'].explode()
twentieth_races_IDs

0      321
0      322
0      323
0      324
0      325
      ...
32    1092
32    1093
32    1094
32    1095
32    1096
Name: raceId, Length: 595, dtype: object

In [21]:
results_df = pd.read_csv('data/Formula1/results.csv')
results_df

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

In [15]:
constructor_df = pd.read_csv('data/Formula1/constructor_standings.csv')
constructor_df

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0
...,...,...,...,...,...,...,...
12936,28408,1098,210,0.0,6,6,0
12937,28409,1098,1,0.0,7,7,0
12938,28410,1098,131,0.0,8,8,0
12939,28411,1098,9,0.0,9,9,0
12940,28412,1098,3,0.0,10,10,0

In [18]:
constructor_results = pd.read_csv('data/Formula1/constructor_results.csv')
constructor_results

       constructorResultsId  raceId  constructorId  points status
0                         1      18              1    14.0     \N
1                         2      18              2     8.0     \N
2                         3      18              3     9.0     \N
3                         4      18              4     5.0     \N
4                         5      18              5     2.0     \N
...                     ...     ...            ...     ...    ...
12165                 16665    1096            117     5.0     \N
12166                 16666    1096            213     0.0     \N
12167                 16667    1096             51     0.0     \N
12168                 16668    1096              3     0.0     \N
12169                 16669    1096            210     0.0     \N

[12170 rows x 5 columns]